.section-cards {
  background-color: #f5f4fa;
}

.cards {
  display: flex;
}

.cards__item {
  text-align: center;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2), 0px 1px 1px 0 rgba(0, 0, 0, 0.14),
    0px 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.cards__wrap {
  padding: 30px 0;
}

.cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.cards__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
