.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.contacts-list__link {
  @include font($fs: 14px, $ls: 0.02em);
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  transition: color var(--duration) var(--timing-function);
  &:focus,
  &:hover {
    color: var(--color-accent);
  }
}

.contacts-list__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--duration) var(--timing-function);
}
