.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: var(--weight-title);
  font-size: var(--size-section-title);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}
